/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  a {
    color: #0000EE;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  